@import "tailwindcss";

@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.slick-prev:before, .slick-next:before {
    font-size: 35px; 
    color: #4A148C; 
    display: flex;
    align-items: center;
    justify-content: center;
}